$history-header-height: 6rem;
$history-month-height: 2.5rem;

.history {
    align-items: center;
    justify-content: center;
    display: flex;

    .history__graph {
        display: flex;

        .history__graph--year {
            align-items: center;
            display: flex;
            height: $history-month-height;
        }

        .history__graph--month {
            height: $history-month-height;
            position: relative;
            width: $history-month-height;

            .history__graph--month--content {
                bottom: 0;
                display: block;
                left: 0;
                position: absolute;
                transform-origin: top left;
                transform: rotate(-60deg) translate(8px, 10px);
            }
        }

        .history__graph--aside {
            padding-left: .5rem;
            padding-right: .5rem;
            padding-top: $history-header-height;
        }

        .history__graph--header {
            align-items: end;
            display: flex;
            height: $history-header-height;
        }

        .history__graph--table {
            display: flex;
            flex-direction: column;

            .history__graph--line {
                display: flex;
                height: $history-month-height;

                .history__graph--case {
                    align-items: center;
                    display: flex;
                    height: $history-month-height;
                    justify-content: center;
                    width: $history-month-height;
                }
            }
        }
    }

    .history__legend {
        display: flex;
        justify-content: center;
        margin-top: 1rem;

        .history__legend--item {
            margin-left: .5rem;
            margin-right: .5rem;
        }
        .history__legend--label {
            margin-left: .5rem;
        }
    }

    .history__list {
        padding-left: 3rem;
        width: 21rem;

        .history__list--item {
            margin-bottom: 1rem;

            p {
                margin: 0;
            }
            hr {
                margin: .5rem 0;
            }
            .history__date {
                display: none;
            }
        }
    }
}

@include media-breakpoint-down('xs') {
    .history {
        justify-content: start !important;
    }
    .history__graph {
        display: none !important;
    }
    .history__date {
        display: block !important;
    }
    .history__list {
        padding-left: 0 !important;
    }
}