.navigation {
    display: flex;
    flex-direction: column;
    margin-right: .5rem;
    padding-left: 3rem;
    position: fixed;
    right: 0;
    text-align: right;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;

    .navigation__link {
        align-items: center;
        display: flex;
        height: 1.5rem;
        justify-content: flex-end;
        line-height: 1.5rem;
        text-decoration: none;
        transition: color 100ms linear;

        &.active, &:active,
        &:hover, &.hover {
            text-decoration: none;
        }
    }
    .navigation__label {
        display: none;
    }

    &:hover {
        .navigation__label {
            display: inline;
        }
    }

    &.navigation--dark {
        .navigation__link {
            color: rgba($dark, .6);

            &.active, &:active,
            &.hover, &:hover {
                color: $dark;
            }
        }
    }
    &.navigation--light {
        .navigation__link {
            color: rgba($light, .6);

            &.active, &:active,
            &.hover, &:hover {
                color: $light;
            }
        }
    }
}

@media (max-width: 1580px) {
    .navigation__label {
        display: none !important;
    }
}
