@use "../../../../node_modules/rfs/scss" as *;

@keyframes up-down {
  0% {
    transform: translate(-50%, 0);
  }
  25% {
    transform: translate(-50%, -1rem);
  }
  50% {
    transform: translate(-50%, 0);
  }
}

#portfolio {
  #me {
    align-items: center;
    background-color: #333;
    background-image: var(--gradient-dark);
    background-size: cover;

    article {
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      text-align: end;
    }

    h1,
    h2,
    blockquote,
    footer {
      padding-inline: var(--size-3);
    }

    h1,
    h2,
    blockquote {
      color: rgba(#FFF, .8);
      font-weight: var(--font-weight-6);
      mix-blend-mode: difference;
    }

    h2 {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      //flex-wrap: wrap;

      span:first-child {
        order: 2;
      }
      span:last-child {
        order: 1;
      }

      html[lang="en"] & span:last-child {
        order: 3;
      }
      html[lang="fr"] & span:last-child {
        order: 1;
      }
    }

    blockquote {
      margin: #{rfs-fluid-value(2rem)} 0;
      padding-bottom: var(--size-3);
      //font-family: Caveat, cursive;
      border-left: 5px solid var(--body-yiq-alpha);
    }

    .navigation-hint-top {
      position: absolute;
      top: 5rem;
      right: 1.5rem;
      color: rgba(#FFF, .5);
      font-size: 1.5rem;
      padding-right: 2rem;

      .far, .svg-inline--fa {
        position: absolute;
        top: -.25rem;
        right: 0;
      }

      body.overview & {
        display: none;
      }
    }

    .navigation-hint-bottom {
      position: absolute;
      bottom: 3rem;
      left: 50%;
      transform: translateX(-50%);
      transition: color 150ms ease-in;
      animation: up-down 4000ms infinite;

      &:hover {
        color: #FFF;
      }
    }
  }
}

@media (orientation: landscape) and (max-height: 756px) {
  #portfolio #me {
    article {
      align-items: flex-start;
      text-align: start;
    }
  }
}

@media (--sm-above) {
  #portfolio #me {
    h2 {
      flex-direction: row;
      span:last-child {
        margin-right: var(--size-3);
      }

      html[lang="en"] & span:last-child {
        margin-left: var(--size-3);
      }
      html[lang="fr"] & span:last-child {
        margin-right: var(--size-3);
      }
    }
  }
}

@media (--rfs) {
  #portfolio #me {
    blockquote {
      margin: 2rem 0;
    }
  }
}
