$color-star: #C0E0EA;

.comet {
    position: absolute;
    background: $color-star;
    border-radius: 50%;
    opacity: 1;
    transform: scale(2);
    transition: top 2s ease-in, opacity 2s ease-in, transform 2s ease-in;
    z-index: 10;

    &--small {
        height: .325rem;
        width: .325rem;
        top: -.325rem;
    }
    &--big {
        height: .5rem;
        width: .5rem;
        top: -.5rem;
    }

    &--end {
        top: 120%;
        opacity: .2;
        transform: scale(1);
    }
}