@import "../../color";

$color-shadow: #223746;

.landscape {
    background: $petrol-900;
    display: flex;
    flex-direction: column;

    &__wrapper {
        width: 100vw;
        position: relative;
        overflow: hidden;
    }

    &__sky {
        width: 100vw;
        position: relative;

        &--space {
            height: 100vh;
            background: $petrol-900;
        }

        &--exosphere {
            height: 50vh;
            background: $petrol-400;

            &:after {
                content: '';
                height: 25vh;
                width: 100vw;
                position: absolute;
                top: 0;
                background: linear-gradient($petrol-900, $petrol-400);
            }
        }

        &--ionosphere {
            height: 250vh;
            background: $blue-900;

            &:after {
                content: '';
                height: 25vh;
                width: 100vw;
                position: absolute;
                top: 0;
                background: linear-gradient($petrol-400, $blue-900);
            }
        }

        &--mesosphere {
            height: 250vh;
            background: $blue-weak-900;

            &:after {
                content: '';
                height: 25vh;
                width: 100vw;
                position: absolute;
                top: 0;
                background: linear-gradient($blue-900, $blue-weak-900);
            }
        }

        &--stratosphere {
            height: 200vh;
            background: $blue-600;

            &:after {
                content: '';
                height: 25vh;
                width: 100vw;
                position: absolute;
                top: 0;
                background: linear-gradient($blue-weak-900, $blue-600);
            }
        }

        &--toposphere {
            height: 150vh;
            background: $blue-weak-400;

            &:after {
                content: '';
                height: 25vh;
                width: 100vw;
                position: absolute;
                top: 0;
                background: linear-gradient($blue-600, $blue-weak-400);
            }
        }
    }

    &__earth {
        position: absolute;
        bottom: 0;
    }

    &__ground {
        width: 100vw;
        position: relative;
        border-radius: 50% 50% 30% 30%;
        border-top: 5rem solid $green-800;
        transform: translateY(50%);
        box-shadow: 0 0 2rem $color-shadow;

        &:after {
            content: '';
            width: 100vw;
            position: absolute;
            bottom: 0;
            border-radius: 50% 50% 30% 30%;
            border-top: 5rem solid $green-800;
            box-shadow: 0 0 2rem $color-shadow;
            z-index: 95;
        }
    }

    &__mountain {
        position: absolute;
        bottom: 0;
        transform: translateX(-50%);
        z-index: 51;

        &--left {
            left: 5%;
            .mountain {
                height: 25rem;
                width: 25rem;
                background: linear-gradient(-135deg, $white, $white 15%, $grey-800 20%);
                border-top-right-radius: 15%;
            }
        }

        &--center-left {
            left: 15%;
            .mountain {
                border-top-right-radius: 5%;
            }
        }

        &--center {
            left: 18%;
            .mountain {
                height: 30rem;
                width: 30rem;
                background: linear-gradient(-135deg, $white, $white 15%, $grey-800 20%);
                border-top-right-radius: 15%;
            }
        }

        &--center-right {
            left: 70%;
            .mountain {
                height: 40rem;
                width: 40rem;
            }
        }

        &--right {
            left: 90%;
            .mountain {
                height: 30rem;
                width: 30rem;
                background: linear-gradient(-135deg, $white, $white 15%, $grey-800 20%);
                border-top-right-radius: 15%;
            }
        }

        .mountain {
            box-shadow: 0 0 2rem $color-shadow;
        }
    }

    &__tree {
        position: absolute;

        &--left {
            bottom: .5rem;
            left: 10%;
            z-index: 150;
        }
        &--right {
            bottom: 2rem;
            right: 25%;
            z-index: 80;
        }
    }

    &__cluster {
        height: 15rem;
        width: 15rem;
        position: relative;
    }

    &__space {
        height: 100vh;
        width: 100vw;
        min-height: 100vw;
        min-width: 100vh;
        display: flex;
        flex: wrap;
        position: relative;
        transition: top 500ms ease-in, transform 1.5s;
    }
}
