@import '../../color';

.mountain {
    height: 50rem;
    width: 50rem;
    position: relative;
    background: linear-gradient(-135deg, $white, $white 20%, $grey-800 25%);
    border-top-right-radius: 5%;
    transform: rotate(-60deg) skewX(-30deg) scale(1, .866) translate(-30%, 30%);
}
