@import '../../color';

.planet {
    position: absolute;
    border-radius: 50%;
    overflow: hidden;
    top: -50%;
    transform: translate(-50%, -100%);
    z-index: 30;

    &__crater {
        position: absolute;
        border-radius: 50%;
        transform: translate(-50%, -50%);
    }
    &--end {
        top: 100%;
        transform: translate(-50%, 0%);
    }

    @each $color, $value in $material-shades {
        &--#{$color} {
            background: radial-gradient(circle at 10% 50%, $value, $value 50%, darken($value, 20%));
        }
    }

    @each $color, $value in $material-shades {
        &__crater--#{$color} {
            background: radial-gradient(elipse at 25% 50%, $value, $value 50%, darken($value, 10%));
        }
    }
}
