@import '../../color';

$rocket-height: 15rem;
$rocket-index: 100;
$rocket-width: 7.5rem;

$rocket-engine-index: 99;
$rocket-engine-width: 5rem;

$rocket-flame-height: 7rem;
$rocket-flame-index: 98;
$rocket-flame-width: 5rem;

$rocket-window-color: #223746;
$rocket-window-color-reflect: #C0E0EA;
$rocket-window-index: 105;

$rocket-wing-height: 4rem;
$rocket-wing-index-behind: 99;
$rocket-wing-index-front: 110;
$rocket-wing-width: 3rem;

.rocket {
    height: $rocket-height;
    width: $rocket-width;
    position: relative;

    @each $color, $value in $material-shades {
        &--#{$color} {
            .rocket__engine {
                background: $value;
                border-left: .25rem lighten($value, 20%) solid;
            }
            .rocket__window {
                border: $value solid .25rem;
            }
            .rocket__wing {
                background: $value;
                &--left {
                    border-left: solid .375rem lighten($value, 20%);
                }
                &--center {
                    border-left: solid .325rem lighten($value, 20%);
                    border-right: solid .325rem $value;
                }
            }
        }
    }

    &__spaceship {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: $rocket-index;
        border-radius: 180% 180% 30% 30%;

        @each $color, $value in $material-shades {
            &--#{$color} {
                background: $value;
                border-left: lighten($value, 10%) .5rem solid;
            }
        }
    }

    &__window {
        height: 4rem;
        width: 4rem;
        position: absolute;
        left: 50%;
        z-index: $rocket-window-index;
        background: $rocket-window-color;
        border-radius: 50%;
        transform: translate(-50%, -50%);

        &:after {
            content: '';
            height: 3rem;
            width: 3rem;
            position: absolute;
            margin-left: .25rem;
            margin-top: .25rem;
            background: transparent;
            border-radius: 50%;
            border-top: solid .125rem $rocket-window-color-reflect;
            transform: rotate(-30deg);
        }

        &--top {
            top: 30%;
        }
        &--middle {
            top: 55%;
        }
        &--bottom {
            top: 80%;
        }
    }

    &__wing {
        height: $rocket-wing-height;
        width: $rocket-wing-width;
        position: absolute;
        bottom: .25rem;

        &--left {
            left: 50%;
            border-bottom-left-radius: 20%;
            border-top-left-radius: 80%;
            transform: translateX(-150%);
            z-index: $rocket-wing-index-behind;
        }

        &--center {
            width: 0;
            left: 50%;
            border-radius: 100% 100% 30% 30%;
            transform: translateX(-50%);
            z-index: $rocket-wing-index-front;
        }

        &--right {
            right: 50%;
            border-bottom-right-radius: 20%;
            border-top-right-radius: 80%;
            transform: translateX(150%);
            z-index: $rocket-wing-index-behind;
        }
    }

    &__engine {
        width: $rocket-engine-width;
        height: .625rem;
        position: absolute;
        bottom: 0;
        left: 50%;
        z-index: $rocket-engine-index;
        border-bottom-left-radius: 40%;
        border-bottom-right-radius: 40%;
        transform: translate(-50%, 100%);
    }

    &__flames {
        height: $rocket-flame-height;
        width: $rocket-flame-width;
        position: absolute;
        bottom: 0rem;
        left: 50%;
        z-index: $rocket-flame-index;
        animation: flames-scale .8s ease-in infinite alternate;

        &:before {
            content: '';
            height: $rocket-flame-height;
            width: $rocket-flame-width;
            position: absolute;
            bottom: 0rem;
            left: 50%;
            z-index: $rocket-flame-index;
            border-radius: 50%;
            transform: translate(-50%, 80%);
        }

        &:after {
            content: '';
            height: 6rem;
            width: 2.5rem;
            position: absolute;
            bottom: 0rem;
            left: 50%;
            opacity: .5;
            border-radius: 50%;
            transform: translate(-50%, 50%);
        }

        &--red {
            &:before {
                background: linear-gradient(to top, transparent, $red-800);
            }
            &:after {
                background: linear-gradient(to top, $amber-800, $red-800);
            }
        }

        &--blue {
            &:before {
                background: linear-gradient(to top, transparent, $blue-weak-600);
            }
            &:after {
                background: linear-gradient(to top, $green-weak-800, $blue-weak-600);
            }
        }

        &--white {
            &:before {
                background: linear-gradient(to top, transparent, $white);
            }
            &:after {
                background: linear-gradient(to top, $white, transparent);
            }
        }
    }

}

@keyframes flames-scale {
    0% {
        transform: translateX(-50%) scale(.9);
        opacity: 1;
    }
    100% {
        transform: translateX(-50%) scale(1.1);
        opacity: .8;
    }
}
