@forward "./assets/components/layout";
@forward "./assets/components/hero";
@forward "./assets/components/timeline/line";
@forward "./assets/components/timeline/table";

#portfolio {
  &, *,
  &::before, *::before,
  &::after, *::after {
    -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }
}
