@import '../variables';

#main {
  &-footer {
    box-sizing: border-box;
    height: $footer-height;
    line-height: calc(#{$footer-height} - .2rem);
    padding: .2rem;
    background: #212529;
    color: #fff;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
  }
}
