@use "~rfs/scss" as *;

@keyframes up-down {
  0% {
    transform: translate(-50%, 0);
  }
  25% {
    transform: translate(-50%, -1rem);
  }
  50% {
    transform: translate(-50%, 0);
  }
}

#me {
  align-items: center;
  background-color: #333;
  background-image: var(--gradient-dark);
  background-size: cover;

  article {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    text-align: end;
  }

  h1,
  h2,
  blockquote,
  footer {
    padding-inline: var(--size-3);
  }

  h1,
  h2,
  blockquote {
    color: rgba(#FFF, .8);
    font-weight: var(--font-weight-6);
    mix-blend-mode: difference;
  }

  h2 {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    //flex-wrap: wrap;

    span:first-child {
      order: 2;
    }
    span:last-child {
      order: 1;
    }

    html[lang="en"] & span:last-child {
      order: 3;
    }
    html[lang="fr"] & span:last-child {
      order: 1;
    }
  }

  blockquote {
    margin: #{rfs-fluid-value(2rem)} 0;
    padding-bottom: var(--size-3);
    //font-family: Caveat, cursive;
    border-left: 5px solid var(--body-yiq-alpha);
  }

  .navigation-hint-top {
    position: absolute;
    top: 5rem;
    right: 1.5rem;
    color: rgba(#FFF, .5);
    font-size: 1.5rem;
    padding-right: 2rem;

    .far, .svg-inline--fa {
      position: absolute;
      top: -.25rem;
      right: 0;
    }

    body.overview & {
      display: none;
    }
  }

  footer {
    display: flex;

    hr {
      margin: 0 10px;
      border: none;
      border-left: 3px solid var(--color-extra);
    }
  }

  .navigation-hint-bottom {
    position: absolute;
    bottom: 3rem;
    left: 50%;
    transform: translateX(-50%);
    transition: color 150ms ease-in;
    animation: up-down 4000ms infinite;

    &:hover {
      color: #FFF;
    }
  }

  dialog {
    position: relative;
    padding: 0;
    border: none;
    overflow: visible;

    &::backdrop {
      background: rgba(0 0 0 / .7);
    }

    .content,
    img {
      height: calc(100vh - 30px);
    }

    .content {
      position: relative;
      overflow: hidden;
    }

    img {
      cursor: none;
    }
    canvas {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      background: white;
      border-radius: 50%;
      pointer-events: none;
      transform: translate(-50%, -50%);
      border: 3px solid #000;
    }
    img:hover + canvas {
      display: block;
    }
    button.close {
      position: absolute;
      top: .5rem;
      left: calc(100% + .5rem);
      display: flex;
      align-items: center;
      justify-content: center;
      height: 3rem;
      width: 3rem;
      padding: 0;
      margin: 0;
      background: #FFF;
      border-radius: 50%;
      font-size: 1.75rem;
      cursor: pointer;
    }
  }
}

@media (orientation: landscape) and (max-height: 756px) {
  #me {
    article {
      align-items: flex-start;
      text-align: start;
    }
  }
}

@media (--sm-above) {
  #me {
    h2 {
      flex-direction: row;
      span:last-child {
        margin-right: var(--size-3);
      }

      html[lang="en"] & span:last-child {
        margin-left: var(--size-3);
      }
      html[lang="fr"] & span:last-child {
        margin-right: var(--size-3);
      }
    }
  }
}

@media (--xl-below) {
  #me .link-zoom {
    display: none;
  }
}

@media (--rfs) {
  #me {
    blockquote {
      margin: 2rem 0;
    }
  }
}

@media (prefers-reduced-motion: reduce) {
  #me .navigation-hint-bottom {
    animation: none;
  }
}
