@use "~rfs/scss" as *;

.layout {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  flex: none;
  transform: scale(100%);
  transform-origin: top left;
  transition: transform 150ms ease-in;
  overflow: auto;
  //scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
  user-select: none;
}

.layout,
.line {
  overflow: hidden;
}

.line,
.screen {
  display: flex;
  flex: none;
  height: 100vh;
  width: 100vw;
  background-color: #FFF;
  //background-image: var(--gradient-light);
  background-size: cover;
  //scroll-snap-align: start;
  scroll-behavior: smooth;
}

.line {
  flex-direction: row;
  //scroll-snap-type: x mandatory;
}

.screen {
  flex-direction: column;
  overflow: hidden;
  //scroll-snap-type: y mandatory;

  > section {
    height: calc(100vh - 5.75rem);
    overflow: auto;
  }
}

.anchor {
  position: absolute;
  inset: 0;
  display: none;
  z-index: 500;
}

article {
  position: relative;
  margin: 0 auto;
  padding: 0 1rem 3rem;
}

.menu {
  position: fixed;
  top: 1.75rem;
  right: 1rem;
  z-index: 150;
  background-color: transparent;
  text-align: end;
  mix-blend-mode: exclusion;

  nav {
    display: none;
    flex-flow: column nowrap;
    align-items: flex-end;
    gap: 10px;
    padding-block: 1rem;

    a {
      position: relative;
      display: block;
      font-size: 1.5rem;
      font-weight: 700;
      color: #FFF;
      text-decoration: none;
      text-transform: uppercase;

      &::before {
        position: absolute;
        inset: calc(100% + 2px) 0 0 0;
        width: 0;
        border-bottom: 5px solid currentColor;
        content: '';
        transition: width 150ms ease-in;
        pointer-events: none;
      }

      &:hover::before {
        width: 100%;
      }
    }
  }

  button {
    background-color: transparent;
    color: #FFF;
    border: none;
    font-size: 2rem;
    transform: rotateZ(180deg);
  }
}

body.overview {
  overflow: auto;

  main {
    padding: 1rem;
  }

  .menu nav {
    display: flex;
  }

  .layout,
  .line {
    gap: 20vh;
    overflow: visible;
  }

  .layout {
    transform: scale(20%);
  }

  .line,
  .screen {
    position: relative;
  }

  .screen {
    overflow: visible;
    padding-top: 5.75rem;
  }

  .anchor {
    display: block;
  }

  h3 {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    font-size: rfs-fluid-value(5rem);
    font-weight: 400;
    line-height: 1.2;
    text-align: center;
  }
}

@media (--lg-above) {
  h3 {
    text-align: center;
  }
}

@media (--rfs) {
  body.overview {
    h3 {
      font-size: 5rem;
      line-height: 1;
    }
  }
}