#translation {
  #header {
    display: flex;
    gap: 10px;
    width: 100%;

    > *:not(button) {
      width: 45%;
      flex: 1 0 auto;
    }
    > button {
      flex: 0 0 auto;
      &[disabled] {
        cursor: not-allowed;
      }
    }
  }
}
