@use "../../stylesheets/variables" as *;
@use "../hexagon/index" as *;

.block-footer {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100vh;

  .block-hexagon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(50% - #{$copyright-height});
    overflow: hidden;

    @include hexagon-grid(1, 20);
  }

  .copyright {
    box-sizing: border-box;
    height: $copyright-height;
    line-height: calc(#{$copyright-height} - .2rem);
    padding: .2rem;
    background: #212529;
    color: #fff;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
  }
}
