@forward "footer";
@forward "hero";
@forward "timeline";

.block-wrapper {
  display: flex;
  flex-flow: column nowrap;
  scroll-snap-type: y proximity;
}

.block {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  .block-title {
    flex: 0 0 auto;
    margin: 2rem;
    text-align: center;
  }

  .block-actions {
    position: absolute;
    top: 2rem;
    right: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;

    hr {
      margin-block: .375rem;
      border: none;
    }

    .fad, .fas, .fal, .fat, .svg-inline--fa {
      position: sticky;
      top: 2rem;
      right: 0;
      padding: .75rem;
      font-size: 18px;
      cursor: pointer;
    }
  }
}
