<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="robot" content="index, follow">
        <meta name="og:site_name" content="@JochLAin on Github">
        <meta name="og:title" content="Blog de Jocelyn Faihy">
        <title>Blog de Jocelyn Faihy</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42074651-4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){ dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-42074651-4');
        </script>
    </head>
    <body id="blog" class="bg-light" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <header>
            <a id="homepage" href="/" class="text-dark">
                <h1>
                    <b class="mx-2">Jocelyn</b>
                    <span class="fas fa-rocket fa-fw fa-2x"></span>
                    <b class="mx-2">Faihy</b>
                </h1>
            </a>
            <a href="/blog.html">
                <aside class="separator"></aside>
            </a>
        </header>
        <article class="blog container">
            <nav class="navigation navigation--dark">
                <section class="navigation__item">
                    <a href="/blog/imbrication-formulaire-1.html" class="navigation__link">
                        <span class="navigation__label mr-2">Préparation de la BDD et du formulaire</span>
                        <span class="far fa-circle"></span>
                    </a>
                </section>
                <section class="navigation__item active">
                    <a href="/blog/imbrication-formulaire-2.html" class="navigation__link">
                        <span class="navigation__label mr-2">L'affichage du formulaire</span>
                        <span class="fas fa-circle"></span>
                    </a>
                </section>
                <section class="navigation__item">
                    <a href="/blog/imbrication-formulaire-3.html" class="navigation__link">
                        <span class="navigation__label mr-2">L'ajout et la suppression</span>
                        <span class="far fa-circle"></span>
                    </a>
                </section>
            </nav>
            <article class="blog__article">
                <h2>L'affichage du formulaire (2/3)</h2>
                <p>
                    On a vu ensemble dans la partie précédente la création du formulaire côté Symfony / PHP.<br />
                    Ici je vais vous expliquer comment l'afficher.<br/>À la fin de cette partie le template ne sera pas utilisable tel quel, car vous ne pourrez ni ajouter ni supprimer d'évènements. Ce que nous verrons cela dans la partie suivante.
                </p>
                <blockquote class="alert alert-warning d-flex">
                    <div class="d-inline-block mr-2">
                        <span class="fas fa-exclamation-triangle"></span>
                    </div>
                    <div class="d-inline-block">
                        Attention: cette méthode n'est qu'une méthode parmis toutes celle existante.<br />
                        C'est celle que j'utilise actuellement, il se peut qu'une autre méthode vous sied plus.
                    </div>
                </blockquote>
                <hr />
                <p>
                    Quelques explications s'impose avant de commencer à coder.<br />
                    Ici nous allons utiliser les tags <a href="https://twig.symfony.com/doc/2.x/tags/macro.html">macro</a> de Twig qui nous permet de créer des fonctions à l'intérieur d'un template.<br />
                    Nous allons les utiliser car il faut pouvoir afficher de la même manière le prototype, qui permettra d'avoir un modèle de champs, et les champs déjà existant.<br />
                    Voici à quoi va ressembler notre template dans un premier temps :
                </p>
                <pre class="blog__article__code"><!--
                --><aside class="blog__article__code--filename">templates/calendar.html.twig</aside><!--
                --><code class="blog__article__code--content twig"><!--
-->{% extends "base.html.twig" %}

{% block content %}
    {{ form_start(form) }}
        &lt;fieldset&gt;
            &lt;legend&gt;
                &lt;h2&gt;Mon calendrier&lt;/h2&gt;
            &lt;/legend&gt;
            &lt;article&gt;
                {% for day in form.days %}
                    {{ _self.renderFormDay(day) }}
                {% endif %}
            &lt;/article&gt;
        &lt;/fieldset&gt;
    {{ form_end(form) }}
    &lt;script type="text/javascript"&gt;
        // Ici on ajoutera notre script JS
    &lt;/script&gt;
{% endblock content %}

{# Template d'affichage pour un jour #}
{% macro renderFormDay(form) %}
    &lt;article id="{{ form.vars.id }}" class="entry-day"&gt;
        {{ form_row(form.day) }}
        {# ... #}
    &lt;/article&gt;
{% endmacro %}<!--
                --></code><!--
            --></pre>
                <p>
                    Notre cas est un peu spécifique pour les champs <span class="font-italic">day</span> car ils sont toujours affiché.<br />
                    Il me permet de vous montrer un cas d'<span class="font-weight-bold">imbrica-ception</span>.<br />
                    Nous verrons plus en détail les différentes parties pour les champs évènements.
                </p>
                <pre class="blog__article__code"><!--
                --><aside class="blog__article__code--filename">templates/calendar.html.twig</aside><!--
                --><code class="blog__article__code--content twig"><!--
-->{# ... #}

{# Template d'affichage pour un jour #}
{% macro renderFormDay(form) %}
    &lt;article id="{{ form.vars.id }}" class="entry-day"&gt;
        {{ form_row(form.day) }}
        &lt;fieldset id="fieldset-event" data-prototype="{{ _self.renderFormEvent(form.events)|escape }}"&gt;
            &lt;legend&gt;
                &lt;h3&gt;Évènements&lt;/h3&gt;
                &lt;button type="button" class="btn-outline-primary btn-sm btn-add-event"&gt;
                    Ajouter un évènement
                &lt;/button&gt;
            &lt;/legend&gt;
            &lt;article id="container-event"&gt;
                {% for event in form.events %}
                    {{ _self.renderFormEvent(event) }}
                {% else %}
                    {# Tips expliqué dans la suite #}
                    {{ form.events|rendered }}
                {% endfor %}
            &lt;/article&gt;
        &lt;/fieldset&gt;
    &lt;/article&gt;
{% endmacro %}

{# Template d'affichage pour un évènement #}
{% macro renderFormEvent(form) %}
    &lt;article id="{{ form.vars.id }}" class="entry-event"&gt;
        &lt;article class="row"&gt;
            &lt;section class="col-6"&gt;
                {{ form_row(form.content) }}
            &lt;/section&gt;
            &lt;section class="col-6"&gt;
                &lt;button type="button" class="btn-remove-event"&gt;Supprimer&lt;/button&gt;
            &lt;/section&gt;
        &lt;/article&gt;
    &lt;/article&gt;
{% endmacro %}<!--
                --></code><!--
            --></pre>
                <p>
                    Notez bien les différents éléments et id / class. Je vous explique leur utilité dans la partie suivante.<br />
                </p>
                <ul>
                    <li>le fieldset avec l'id <code>`fieldset-${name}`</code>: qui défini le prototype</li>
                    <li>l'article avec l'id <code>`container-${name}`</code>: qui contient les champs</li>
                    <li>l'article avec la class <code>`entry-${name}`</code>: qui contient un champs</li>
                    <li>le bouton avec la class <code>`btn-add-${name}`</code>: qui permet d'ajouter un nouveau champs</li>
                    <li>le bouton avec la class <code>`btn-remove-${name}`</code>: qui permet de supprimer un champs</li>
                </ul>
                <p>
                    Si vous affichez ce formulaire avec aucun évènement, vous verrez que le champs <span class="font-italic">events</span> s'affiche, ou tout du moins, son label.<br />
                    Cela car pour twig ce champs n'a pas été affiché.<br />
                    Pour y parer, j'ai créé un filtre qui signifie que le champs a bien été rendu.
                </p>
                <pre class="blog__article__code"><!--
                --><aside class="blog__article__code--filename">templates/calendar.html.twig</aside><!--
                --><code class="blog__article__code--content twig"><!--
-->&lt;?php

namespace App\Twig\Extension;

use Symfony\Component\Form\FormView;

class FormExtension extends \Twig_Extension
{
    public function getFunctions()
    {
        return [
            new \Twig_SimpleFunction('setRendered', [$this, 'setRendered']),
        ];
    }

    public function getFilters()
    {
        return [
            new \Twig_SimpleFilter('rendered', [$this, 'setRendered']),
        ];
    }

    public function setRendered(FormView $field)
    {
        $field->setRendered();

        // Doit obligatoirement retourner une chaine de caractères 
        return '';
    }
}<!--
                --></code><!--
            --></pre>
                <footer class="d-flex align-items-center justify-content-around">
                    <a href="/blog/imbrication-formulaire-1.html">
                        <article class="d-flex align-items-center justify-content-center">
                            <section class="mx-1">
                                <span class="fas fa-arrow-left"></span>
                            </section>
                            <section class="mx-1">
                                Partie 1 : Préparation de la BDD et du formulaire
                            </section>
                        </article>
                    </a>
                    <a href="/blog/imbrication-formulaire-3.html">
                        <article class="d-flex align-items-center justify-content-center">
                            <section class="mx-1">
                                Partie 3 : L'ajout et la suppression
                            </section>
                            <section class="mx-1">
                                <span class="fas fa-arrow-right"></span>
                            </section>
                        </article>
                    </a>
                </footer>
            </article>
        </article>
        <footer class="bg-dark text-light text-center">
            <small>Jocelyn Faihy <sup><span class="far fa-copyright"></span></sup> - All rights reserved - 2018</small>
        </footer>
        <script type="text/javascript" src="/js/style.js"></script>
    </body>
</html>