<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="robot" content="index, follow">
        <meta name="og:site_name" content="@JochLAin on Github">
        <meta name="og:title" content="Blog de Jocelyn Faihy">
        <title>Blog de Jocelyn Faihy</title>
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-42074651-4"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){ dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', 'UA-42074651-4');
        </script>
    </head>
    <body id="blog" class="bg-light" data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        <header>
            <a id="homepage" href="/" class="text-dark">
                <h1>
                    <b class="mx-2">Jocelyn</b>
                    <span class="fas fa-rocket fa-fw fa-2x"></span>
                    <b class="mx-2">Faihy</b>
                </h1>
            </a>
            <a href="/blog.html">
                <aside class="separator"></aside>
            </a>
        </header>
        <article class="blog container">
            <nav class="navigation navigation--dark">
                <section class="navigation__item">
                    <a href="/blog/imbrication-formulaire-1.html" class="navigation__link">
                        <span class="navigation__label mr-2">Préparation de la BDD et du formulaire</span>
                        <span class="fas fa-circle"></span>
                    </a>
                </section>
                <section class="navigation__item">
                    <a href="/blog/imbrication-formulaire-2.html" class="navigation__link">
                        <span class="navigation__label mr-2">L'affichage du formulaire</span>
                        <span class="fas fa-circle"></span>
                    </a>
                </section>
                <section class="navigation__item active">
                    <a href="/blog/imbrication-formulaire-3.html" class="navigation__link">
                        <span class="navigation__label mr-2">L'ajout et la suppression</span>
                        <span class="fas fa-circle"></span>
                    </a>
                </section>
            </nav>
            <article class="blog__article">
                <h2>L'ajout et la suppression (3/3)</h2>
                <p>
                    Nous avons maintenant tout le côté serveur, l'entité, le formulaire et le template.<br />
                    Mais nous ne pouvons ni ajouter ni supprimer d'évènements, c'est assez problématique.<br />
                    Dans cette partie je vais vous expliquer le code JS à ajouter pour afficher un nouveau champs au clique sur le bouton.
                </p>
                <hr />
                <p>
                    Pour rappel, la structure de notre HTML est la suivante :
                </p>
                <ul>
                    <li>le fieldset avec l'id <code>`fieldset-${name}`</code>: qui défini le prototype</li>
                    <li>l'article avec l'id <code>`container-${name}`</code>: qui contient les champs</li>
                    <li>l'article avec la class <code>`entry-${name}`</code>: qui contient un champs</li>
                    <li>le bouton avec la class <code>`btn-add-${name}`</code>: qui permet d'ajouter un nouveau champs</li>
                </ul>
                <pre class="blog__article__code"><!--
                --><aside class="blog__article__code--filename">templates/calendar.html.twig</aside><!--
                --><code class="blog__article__code--content twig"><!--
-->{# ... #}

{# Template d'affichage pour un jour #}
{% macro renderFormDay(form) %}
    &lt;article id="{{ form.vars.id }}" class="entry-day"&gt;
        {{ form_row(form.day) }}
        &lt;fieldset id="fieldset-event" data-prototype="{{ _self.renderFormEvent(form.events)|escape }}"&gt;
            &lt;legend&gt;
                &lt;h3&gt;Évènements&lt;/h3&gt;
                &lt;button type="button" class="btn-outline-primary btn-sm btn-add-event"&gt;
                    Ajouter un évènement
                &lt;/button&gt;
            &lt;/legend&gt;
            &lt;article id="container-event"&gt;
                {% for event in form.events %}
                    {{ _self.renderFormEvent(event) }}
                {% else %}
                    {# Tips expliqué dans la suite #}
                    {{ form.events|rendered }}
                {% endfor %}
            &lt;/article&gt;
        &lt;/fieldset&gt;
    &lt;/article&gt;
{% endmacro %}

{# Template d'affichage pour un évènement #}
{% macro renderFormEvent(form) %}
    &lt;article id="{{ form.vars.id }}" class="entry-event"&gt;
        &lt;article class="row"&gt;
            &lt;section class="col-6"&gt;
                {{ form_row(form.content) }}
            &lt;/section&gt;
            &lt;section class="col-6"&gt;
                &lt;button type="button" class="btn-remove-event"&gt;Supprimer&lt;/button&gt;
            &lt;/section&gt;
        &lt;/article&gt;
    &lt;/article&gt;
{% endmacro %}<!--
                --></code><!--
            --></pre>
                <p>
                    Structurons maintenant notre algorithme pour l'ajout d'un nouveau champs :<br />
                    Au clic sur le bouton d'ajout <code>`btn-add-${name}`</code>, je récupère le prototype dans le <code>`fieldset-${name}`</code> pour l'ajouter dans le <code>`container-${name}`</code> avec comme index le nombre de <code>`entry-${name}`</code> contenu dans ce dernier.<br />
                    Ajoutons le code correspondant à l'endroit prévu pour :
                </p>
                <pre class="blog__article__code"><!--
                --><aside class="blog__article__code--filename">templates/calendar.html.twig</aside><!--
                --><code class="blog__article__code--content twig"><!--
-->{% extends "base.html.twig" %}

{% block content %}
    {# ... #}
    &lt;script type="text/javascript"&gt;
        $(document).ready(function () {
            $(document).on("click", ".btn-add-event", function (event) {
                event.preventDefault();
                event.stopPropagation();

                var $parent = $(this).closest('.fieldset-event');
                var $container = $parent.find('.container-event');

                // Marche pour l'ajout mais lorsque l'on supprime plusieurs entrée et en ajoute ensuite, cela peut créer des conflits.
                // Il est conseillé d'utiliser des identifiants uniques
                var index = $container.find('.entry-event').length;

                // Limite le remplacement des index au champs courant
                var $entry = $($parent.data('prototype')
                    .replace(/events___name__/g, 'events_' + index)
                    .replace(/\[events\]\[__name__\]/g, '[events][' + index + ']')
                );

                $container.append($entry); 
            });
        });
    &lt;/script&gt;
{% endblock content %}

{# ... #}<!--
                --></code><!--
            --></pre>
                <p>
                    Nous avons le code pour l'ajout de nouveaux évènements, maintenant il nous manque la suppression des nouveaux et des existants.<br />
                    Pour cela ajouter le code suivant à la suite du précédent :
                </p>
                <pre class="blog__article__code"><!--
                --><aside class="blog__article__code--filename">templates/calendar.html.twig</aside><!--
                --><code class="blog__article__code--content twig"><!--
-->{% extends "base.html.twig" %}

{% block content %}
    {# ... #}
    &lt;script type="text/javascript"&gt;
        $(document).ready(function () {
            // ...

            $(document).on('click', ".btn-remove-event", function (e) {
                e.preventDefault();
                e.stopPropagation();

                $(this).closest('.entry-event').remove();
            });
        });
    &lt;/script&gt;
{% endblock content %}

{# ... #}<!--
                --></code><!--
            --></pre>
                <p>
                    Vous voilà fin prêt pour créer des formulaire imbriqués à multiple niveau.<br />
                    Merci d'avoir suivi ce tutoriel, je vous laisse avec le template complet.
                </p>
                <pre class="blog__article__code"><!--
                --><aside class="blog__article__code--filename">templates/calendar.html.twig</aside><!--
                --><code class="blog__article__code--content twig"><!--
-->{% extends "base.html.twig" %}

{% block content %}
    {{ form_start(form) }}
        &lt;fieldset&gt;
            &lt;legend&gt;
                &lt;h2&gt;Mon calendrier&lt;/h2&gt;
            &lt;/legend&gt;
            &lt;article&gt;
                {% for day in form.days %}
                    {{ _self.renderFormDay(day) }}
                {% endif %}
            &lt;/article&gt;
        &lt;/fieldset&gt;
    {{ form_end(form) }}

    {# Ceci est juste pour l'exemple, pour avoir tout en vu #}
    {# Pensez à passer votre script dans des fichiers afin de les compiler #}
    &lt;script type="text/javascript"&gt;
        $(document).ready(function () {
            $(document).on("click", ".btn-add-event", function (event) {
                event.preventDefault();
                event.stopPropagation();

                var $parent = $(this).closest('.fieldset-event');
                var $container = $parent.find('.container-event');

                // Marche pour l'ajout mais lorsque l'on supprime plusieurs entrée et en ajoute ensuite, cela peut créer des conflits.
                // Il est conseillé d'utiliser des identifiants uniques
                var index = $container.find('.entry-event').length;

                // Limite le remplacement des index au champs courant
                var $entry = $($parent.data('prototype')
                    .replace(/events___name__/g, 'events_' + index)
                    .replace(/\[events\]\[__name__\]/g, '[events][' + index + ']')
                );

                $container.append($entry); 
            });

            $(document).on('click', ".btn-remove-event", function (e) {
                e.preventDefault();
                e.stopPropagation();

                $(this).closest('.entry-event').remove();
            });
        });
    &lt;/script&gt;
{% endblock content %}

{# Template d'affichage pour un jour #}
{% macro renderFormDay(form) %}
    &lt;article id="{{ form.vars.id }}" class="entry-day"&gt;
        {{ form_row(form.day) }}
        &lt;fieldset id="fieldset-event" data-prototype="{{ _self.renderFormEvent(form.events)|escape }}"&gt;
            &lt;legend&gt;
                &lt;h3&gt;Évènements&lt;/h3&gt;
                &lt;button type="button" class="btn-outline-primary btn-sm btn-add-event"&gt;
                    Ajouter un évènement
                &lt;/button&gt;
            &lt;/legend&gt;
            &lt;article id="container-event"&gt;
                {% for event in form.events %}
                    {{ _self.renderFormEvent(event) }}
                {% else %}
                    {# Tips expliqué dans la suite #}
                    {{ form.events|rendered }}
                {% endfor %}
            &lt;/article&gt;
        &lt;/fieldset&gt;
    &lt;/article&gt;
{% endmacro %}

{# Template d'affichage pour un évènement #}
{% macro renderFormEvent(form) %}
    &lt;article id="{{ form.vars.id }}" class="entry-event"&gt;
        &lt;article class="row"&gt;
            &lt;section class="col-6"&gt;
                {{ form_row(form.content) }}
            &lt;/section&gt;
            &lt;section class="col-6"&gt;
                &lt;button type="button" class="btn-remove-event"&gt;Supprimer&lt;/button&gt;
            &lt;/section&gt;
        &lt;/article&gt;
    &lt;/article&gt;
{% endmacro %}<!--
                --></code><!--
            --></pre>
                <footer class="d-flex align-items-center justify-content-around">
                    <a href="/blog/imbrication-formulaire-2.html">
                        <article class="d-flex align-items-center justify-content-center">
                            <section class="mx-1">
                                <span class="fas fa-arrow-left"></span>
                            </section>
                            <section class="mx-1">
                                Partie 2 : L'affichage du formulaire
                            </section>
                        </article>
                    </a>
                </footer>
            </article>
        </article>
        <footer class="bg-dark text-light text-center">
            <small>Jocelyn Faihy <sup><span class="far fa-copyright"></span></sup> - All rights reserved - 2018</small>
        </footer>
        <script type="text/javascript" src="/js/style.js"></script>
    </body>
</html>