@import "./variables";

html, body, #__next {
  box-sizing: border-box;
  min-width: 100%;
  min-height: 100vh;
  margin: 0;
}

html {
  font-size: 16px;
}

body {
  --body-bg: #{$color-white};
  --body-text: #{$color-gray-900};
  --body-yiq-alpha: #{rgba($color-gray-900, .3)};

  font-family: $font-family;
  color: var(--text-body);
  background-color: var(--bg-body);

  &.skin--dark {
    --body-bg: #{$color-gray-900};
    --body-text: $color-white;
    --body-yiq-alpha: rgba($color-white, .3);
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Stick No Bills', $font-family;
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 300;
  line-height: 1.2;
  color: inherit;
}

h1 {
  font-size: 5rem;
  font-weight: 600;
}

h2 {
  font-size: 3.5rem;
  font-weight: 600;
}

h3 {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

blockquote {
  margin: 0 0 1rem;
  font-family: 'Caveat', cursive;
  font-size: 2rem;
  padding-left: 1rem;
  border-left: 5px solid #dee2e6;
}

.block {
  height: 100vh;

  &:last-of-type {
    height: calc(100vh - #{$footer-height});
  }
}