@import "./variables";

@each $idx, $spacer in $spacers {
  .m-#{$idx} {
    margin: $spacer;
  }
  .mx-#{$idx} {
    margin-left: $spacer;
    margin-right: $spacer;
  }
  .my-#{$idx} {
    margin-top: $spacer;
    margin-bottom: $spacer;
  }
  .mt-#{$idx} {
    margin-top: $spacer;
  }
  .mb-#{$idx} {
    margin-bottom: $spacer;
  }
  .ms-#{$idx} {
    margin-left: $spacer;
  }
  .me-#{$idx} {
    margin-right: $spacer;
  }

  .p-#{$idx} {
    padding: $spacer;
  }
  .px-#{$idx} {
    padding-left: $spacer;
    margin-right: $spacer;
  }
  .py-#{$idx} {
    padding-top: $spacer;
    margin-bottom: $spacer;
  }
  .pt-#{$idx} {
    padding-top: $spacer;
  }
  .pb-#{$idx} {
    padding-bottom: $spacer;
  }
  .ps-#{$idx} {
    padding-left: $spacer;
  }
  .pe-#{$idx} {
    padding-right: $spacer;
  }
}

@each $name, $value in $colors {
  bg-#{$name} {
    background-color: $value;
  }
  border-#{$name} {
    border-color: $value;
  }
  text-#{$name} {
    color: $value;
  }
}

.text-muted {
  color: $color-gray-600;
}

@each $name, $value in $sizes {
  .h-#{$name} {
    height: $value;
  }
  .w-#{$name} {
    height: $value;
  }
}

.fade {
  transition: opacity .15s linear;
  &:not(.show) {
    opacity: 0;
  }
}