@forward "../packages/portfolio/components";

html,
body,
#__next {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

main,
section {
  width: 100vw;
  height: 100vh;
}

body {
  --color-major: '';
  --color-minor: '';
  --color-extra: '';

  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-title: "Stick No Bills", var(--font-sans);
  --font-quote: Caveat, cursive, var(--font-sans);

  margin: 0;
  color: var(--text-body);
  background-color: var(--body-bg);

  --body-bg: #FFF;
  --body-text: #333;
  --body-yiq: #{rgba(#333, .3)};

  &.dark {
    --body-bg: #333;
    --body-text: #FFF;
    --body-yiq: rgba(#FFF, .3);
  }
}

h1, h2, h3 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  flex: 0 0 auto;
  margin: 2rem;
  font-size: 2.5rem;
  text-align: center;
}

main {
  display: flex;
  flex-flow: column nowrap;
  overflow: auto;
  scroll-snap-type: y mandatory;

  article {
    scroll-snap-type: x mandatory;

    nav {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100vh;
      display: flex;
      flex-flow: row nowrap;

      menu li a {
        display: inline-flex;
        gap: .5rem;
      }
    }
  }

  article,
  section {
    display: flex;
    flex-direction: row;
    flex: none;
    height: 100vh;
    overflow: auto;
    scroll-snap-align: start;
  }

  &.overview {
    width: auto;
    height: auto;
    gap: 5rem;
    transform: scale(10%);
    overflow: visible;

    section {
      gap: 5rem;
      overflow: visible;
    }

    > section {
      width: auto;
      height: auto;
    }
  }
}
