@import 'root';

@import './components/navigation';
@import './components/presentation';
@import './components/history';
@import './components/skill';

h1 {
    font-size: 3rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

.view {
    padding: 3rem 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: center;
}

@include media-breakpoint-up('lg') {
    .view {
    }
}

@include media-breakpoint-down('md') {
    html {
        font-size: 80%;
    }
}

@include media-breakpoint-down('sm') {
    html {
        font-size: 60%;
    }
}

@media (min-width: 600px) and (max-width: 650px) {
    h3 {
        display: none;
    }
}