@forward "./reboot";
@forward "../components/layout";
@forward "../components/contact";
@forward "../components/hero";
@forward "../components/timeline/line";
@forward "../components/timeline/table";

@keyframes blink {
  30% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  70% {
    opacity: 1;
  }
}

.cookie-compliance {
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  padding: 1rem;
  color: #FFF;
  background-color: rgba(255 255 255 / .4);
  text-align: center;
  mix-blend-mode: exclusion;

  .svg-inline--fa {
    font-size: 5rem;
  }

  body.overview & {
    display: none;
  }
}

.type-writing {
  position: relative;
  transition: all 30ms ease-in;
  margin-right: var(--size-1);
  height: 1em;

  &::after {
    position: absolute;
    top: 50%;
    left: calc(100% + var(--size-1));
    height: calc(1em - 7px);
    border-right: 1px solid var(--color-extra);
    opacity: .8;
    content: "";
    transform: translateY(calc(-50% + 5px));
    animation: blink 1000ms infinite;
  }
}
