@use "~rfs/scss" as *;

@custom-media --xxs-only (width <= 360px);
@custom-media --xxs-above (width >= 360px);
@custom-media --xxs-below (width <= 360px);
@custom-media --xxs-phone (--xxs-only) and (--portrait);

@custom-media --xs-only (360px <= width <= 480px);
@custom-media --xs-above (width >= 480px);
@custom-media --xs-below (width <= 480px);
@custom-media --xs-phone (--xs-only) and (--portrait);

@custom-media --sm-only (480px <= width <= 576px);
@custom-media --sm-above (width >= 576px);
@custom-media --sm-below (width <= 576px);
@custom-media --sm-phone (--sm-only) and (--portrait);

@custom-media --md-only (576px <= width <= 768px);
@custom-media --md-above (width >= 768px);
@custom-media --md-below (width <= 768px);
@custom-media --md-phone (--md-only) and (--portrait);

@custom-media --lg-only (768px <= width <= 1024px);
@custom-media --lg-above (width >= 1024px);
@custom-media --lg-below (width <= 1024px);
@custom-media --lg-phone (--lg-only) and (--portrait);

@custom-media --xl-only (1024px <= width <= 1440px);
@custom-media --xl-above (width >= 1440px);
@custom-media --xl-below (width <= 1440px);
@custom-media --xl-phone (--xl-only) and (--portrait);

@custom-media --xxl-only (1440px <= width <= 1920px);
@custom-media --xxl-above (width >= 1920px);
@custom-media --xxl-below (width <= 1920px);
@custom-media --xxl-phone (--xxl-only) and (--portrait);

@custom-media --rfs (width >= 1200px);

$h1-font-size: 7rem;
$h2-font-size: 3rem;
$h3-font-size: 1.75rem;
$blockquote-font-size: 1.75rem;

*,
*::before,
*::after {
  box-sizing: border-box;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

*:focus-visible {
  outline: none;
}

html,
body {
  --body-bg: #FFF;
  --body-text: #000;

  margin: 0;
  color: var(--body-text);
  background-color: var(--body-bg);
}

html,
body,
#__next {
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  --color-major: var(--indigo-7);
  --color-minor: var(--orange-8);
  --color-extra: var(--red-9);

  --gradient-dark: conic-gradient(from 90deg at 50% 0%, #111, 50%, #222, #111);
  --gradient-dark-reverse: conic-gradient(from -90deg at 50% 100%, #111, 50%, #222, #111);
  --gradient-light: conic-gradient(from 90deg at 50% 0%, #eee, 50%, #f8f9fa, #111);

  --font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  --font-std: Abel, cursive, var(--font-sans);
  --font-title: Lato, cursive, var(--font-sans);
  --font-quote: Caveat, cursive, var(--font-sans);

  color: var(--gray-9);
  background-color: var(--gray-0);
  font-family: var(--font-std);
  font-size: 16px;

  @media (min-width: 1200px) {
    font-size: 1rem;
  }
}

h1,
h2,
h3 {
  margin-top: 0;
  margin-bottom: .5rem;
  font-family: var(--font-title);
  font-weight: 600;
  line-height: 1.2;
}

h1 {
  font-size: rfs-fluid-value($h1-font-size);
}

h2 {
  font-size: rfs-fluid-value($h2-font-size);
}

h3 {
  position: sticky;
  top: 0;
  flex: 0 0 auto;
  margin: 0;
  padding: 2rem 1rem 1rem;
  line-height: 2rem;
  font-size: rfs-fluid-value($h3-font-size);
  text-align: left;
  z-index: 10000;

  &.sticked {
    background-color: rgba(#fff, .7);
  }
}

h5 {
  display: inline-block;
  border-bottom: 2px solid black;
  margin-block: 0 .5rem;
}

article {
  max-width: 100vw;
}

blockquote {
  font-family: var(--font-quote);
  font-size: rfs-fluid-value($blockquote-font-size);
}

details summary {
  cursor: pointer;
  a .svg-inline--fa {
    margin-left: 5px;
  }
}

form footer {
  display: flex;
  flex-flow: row-reverse nowrap;
  justify-content: flex-end;
  gap: 10px;
}

.form-select,
select,
input,
textarea {
  position: relative;
  display: block;
  width: 100%;
  border: 1px solid #AAA;
  appearance: none;
}

.form-select {
  position: relative;
  color: #000;
  background-color: #FFF;

  summary {
    vertical-align: middle;

    &::marker {
      color: #000;
      vertical-align: middle;
    }
  }

  &-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 10000;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: #FFF;
    border: 1px solid #000;
    list-style: none;

    li {
      padding: .5rem 1rem;

      &:hover {
        background-color: rgba(0 0 0 / .4);
        cursor: pointer;
      }
    }
  }

  + select {
    position: fixed;
    top: -9999px;
    left: -9999px;
    opacity: 0;
    visibility: hidden;
  }
}

textarea {
  height: 23em;
  resize: vertical;
}

fieldset label {
  display: block;
}

fieldset.floating {
  position: relative;
  margin: 0 0 .5rem;
  padding: 0;
  border: none;

  input,
  .form-select summary,
  select:not([multiple]) {
    line-height: 1.25;
  }

  input,
  textarea,
  label {
    min-height: 3.25rem;
    padding: .375rem 1rem;
  }

  .form-select {
    summary {
      min-height: 3.25rem;
      padding: 1rem 1rem;
    }
    &:not(.filled) ~ label {
      left: .75rem;
    }
  }

  label {
    position: absolute;
    top: .5rem;
    left: 0;
    display: flex;
    align-items: flex-start;
    width: 100%;
    height: 100%;
    color: #000;
    border: 1px solid transparent;
    text-align: start;
    text-overflow: ellipsis;
    transition: opacity .1s ease-in-out, transform .1s ease-in-out;
    transform-origin: 0 0;
    overflow: hidden;
    pointer-events: none;
    white-space: nowrap;
  }

  input,
  textarea {
    &::placeholder {
      color: transparent;
    }

    &:focus,
    &:not(:placeholder-shown) {
      padding-top: 1.5rem;
      padding-bottom: .625rem;
    }
  }

  .form-select.filled summary,
  select {
    padding-top: 1.625rem;
    padding-bottom: .625rem;
  }

  input:focus,
  input:not(:placeholder-shown),
  .form-select.filled,
  select,
  textarea:focus,
  textarea:not(:placeholder-shown), {
    ~ label {
      opacity: .65;
      transform: scale(.85) translateY(-.5rem) translateX(.15rem);
    }
  }
}

.has-error {
  border-color: var(--color-danger, #ea4335) !important;

  summary,
  summary::marker,
  ~ label {
    color: var(--color-danger, #ea4335) !important;
  }
}

button {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  border: none;
  padding: .325rem .5rem;

  &[type="submit"] {
    background-color: #34a853;
    color: #FFF;
  }
  &[type="reset"] {
    background-color: #999;
    color: #000;
  }
  &[disabled]::after {
    position: absolute;
    inset: 0;
    content: '';
    background-color: rgba(#333, .4);
  }
}

a {
  color: var(--color-extra);

  &:hover {
    color: #000;
  }
  #me &:hover {
    color: #FFF;
  }
}

@media (--sm-above) {
  article {
    width: 540px;
  }
}

@media (--md-above) {
  article {
    width: 720px;
  }
}

@media (--lg-above) {
  article {
    width: 960px;
  }
  h3 {
    padding: 2rem;
  }
}

@media (--xl-above) {
  article {
    width: 1320px;
  }
}

@media (--rfs) {
  h1 {
    font-size: $h1-font-size;
  }
  h2 {
    font-size: $h2-font-size;
  }
  h3 {
    font-size: $h3-font-size;
  }
  blockquote {
    font-size: $blockquote-font-size;
  }
}

@media (forced-colors: active) {
  a {
    color: #000;
  }
  #me {
    a {
      color: #FFF;
    }
    hr {
      border-color: #FFF;
    }
  }
}
