$history-header-height: 6em;
$history-cell-width: 2.5em;
$history-cell-height: 2em;
$history-cell-header: 1.5em;

.block-timeline--table {
  .block-actions {
    *:nth-child(1) {
      background-color: skyblue;
      color: white;
    }
    *:nth-child(2) {
      background-color: #AAA;
      color: white;
    }

    *:last-child {
    }
  }
}

.tlt {
  display: flex;
  flex: 1 0 auto;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
}

.tlt-graph {
  display: flex;
  margin-top: 4em;
  margin-right: 2em;
  font-size: 10px;

  &-abscissa {
    align-items: flex-end;
    display: flex;
  }
  &-ordinate {
    display: flex;
    flex-direction: column;
    padding: $history-cell-header .5em 0;
  }

  &-year {
    display: flex;
    align-items: center;
    height: $history-cell-height;
    line-height: $history-cell-height;
  }
  &-month {
    position: relative;
    width: $history-cell-width;
    height: $history-cell-header;

    &::before {
      position: absolute;
      left: 70%;
      content: attr(title);
      transform: rotate(-60deg);
      transform-origin: bottom left;
    }
  }

  &-table {
    display: flex;
    flex-direction: column;
  }
  &-line {
    display: flex;
  }
  &-cell {
    align-items: center;
    display: flex;
    justify-content: center;
  }
  &-legend {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1em;
    gap: 5px;
  }
}

.tlt-legend {
  position: absolute;
  top: 0;
  left: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 1rem;
  gap: 10px;
  background-color: #FFF;
  list-style: none;

  li {
    display: flex;
    gap: 5px;
    margin-bottom: 10px;
  }

  p {
    i { line-height: 1rem; }
    b { line-height: 1.25rem; }
  }

  hr {
    border: 1px solid #f8f9fA;
  }
}

.tlt-list {
  padding-left: 3rem;
  width: 21rem;

  &-item {
    margin-bottom: 1rem;

    p {
      margin: 0;
    }
    hr {
      margin: .5rem 0;
    }
  }
}

.tlt-wrapper {
  height: 100vh;
}

@media (min-width: 35rem) {
  .tlt-graph {
    font-size: 13px;
  }
}

@media (min-width: 50rem) {
  .tlt-graph {
    font-size: 16px;
  }
}
