@import "line";
@import "table";

.timeline {
  &-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }
}

.timeline--table {
  .block-actions {
    *:nth-child(1) {
      background-color: skyblue;
      color: white;
    }
    *:nth-child(2) {
      background-color: #AAA;
      color: white;
    }

    *:last-child {
    }
  }
}

.timeline--line {
  .block-actions {
    *:nth-child(1) {
      background-color: #AAA;
      color: white;
    }
    *:nth-child(2) {
      background-color: skyblue;
      color: white;
    }

    *:last-child {
      background-color: #FFF;
      color: #000;
    }
  }
}
