@use "~rfs/scss" as *;

.tll {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding-inline: 5rem;
  list-style: none;

  .tll-exp {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 1rem 3rem;
    gap: .75rem;

    &::before {
      position: absolute;
      inset: -1px;
      z-index: 1;
      width: 100%;
      height: 100%;
      content: '';
    }

    &:not(:last-child)::before {
      border-bottom: 3px solid;
    }

    &:nth-child(odd) {
      flex-direction: row;
      padding-right: 0;
      &::before {
        border-image: linear-gradient(to bottom right, var(--tll-color) 0%, var(--tll-color) 25%, var(--tll-color-next, transparent) 100%);
        border-image-slice: 1;
        border-left: 3px solid;
      }
    }
    &:nth-child(even) {
      flex-direction: row-reverse;
      padding-left: 0;
      &::before {
        border-image: linear-gradient(to bottom left, var(--tll-color) 0%, var(--tll-color) 25%, var(--tll-color-next, transparent) 100%);
        border-image-slice: 1;
        border-right: 3px solid;
      }
    }
    &:first-child {
      &::before {
        top: 50%;
        height: 50%;
      }
    }
    &:last-child {
      &::before {
        height: 50%;
      }
    }
  }

  .tll-icon {
    position: absolute;
    z-index: 10;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rfs-fluid-value(3rem);
    height: rfs-fluid-value(3rem);
    background-color: var(--tll-color);
    color: #FFF;
    border: 3px solid #FFF;
    border-radius: 50%;
    font-size: rfs-fluid-value(1.5rem);
  }

  .tll-exp:nth-child(odd) .tll-icon {
    left: 0;
    transform: translateX(-50%);
  }
  .tll-exp:nth-child(even) .tll-icon {
    right: 0;
    transform: translateX(50%);
  }

  .tll-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .tll-title {
    padding: .35rem .75rem;
    border-radius: 10000rem;
    color: #FFF;
    background-color: var(--tll-color);
    font-weight: 700;
    text-transform: uppercase;
  }

  .tll-period {
    padding-inline: 10px;
  }

  .tll-start + .tll-end::before {
    display: inline-block;
    content: '-';
    margin: 0 .5rem;
  }

  .tll-info {
    display: flex;
    flex-direction: column;
    gap: 10px;

    details {
      position: relative;
      padding: .5rem .5rem 0;

      summary {
        position: relative;
        margin: calc(-.5rem - 2px) calc(-.5rem - 2px) 0;
        padding: .35rem .75rem;
      }

      &[open] {
        padding-bottom: .5rem;
      }
    }

    dl {
      dt {
        margin: 0;
        padding: .35rem .75rem;
      }
      dd {
        margin: 0;
        padding: .35rem .75rem;
      }
    }
  }
}
