.tll {
  --tll-icon-padding: 1rem;
  --tll-icon-size: 2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &-wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: var(--tll-icon-size);
    padding-left: var(--tll-icon-size);
    border-left: 6px solid #e9ecef;
    overflow-y: auto;
  }

  &-exp {
    position: relative;
    width: 21rem;
    max-width: 100%;
    background-color: #e9ecef;
  }

  &-icon {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(var(--tll-icon-size) + var(--tll-icon-padding) * 2);
    height: calc(var(--tll-icon-size) + var(--tll-icon-padding) * 2);
    color: #e9ecef;
    font-size: var(--tll-icon-size);
    border-radius: 50%;
    transform: translateX(calc(-50% - var(--tll-icon-padding) * 2 - 3px));
  }

  &-header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: calc(var(--tll-icon-size) + var(--tll-icon-padding) * 2);
    padding: var(--tll-icon-padding);
    gap: 10px;
    list-style: none;
  }

  &-date {
    display: inline-block;

    &.tll-end::before {
      content: '➦';
      padding-right: 10px;
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: var(--tll-icon-padding);
  }

  &-badge {
    display: inline-block;
    padding: .375rem .5rem;
    border-radius: .25rem;
    color: #e9ecef;
  }
}

@media (min-width: 576px) {
  .tll {
    font-size: 16px;
  }
}

@media (min-width: 1200px) {
  .tll {
    &-wrapper {
      width: 50rem;
    }
  }
}
