@use "~rfs/scss" as *;

.tll {
  list-style: none;

  .tll-exp {
    display: flex;
    gap: .75rem;
  }

  .tll-icon {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: rfs-fluid-value(3rem);
    height: rfs-fluid-value(3rem);
    background-color: var(--tll-color);
    color: #FFF;
    border-radius: 50%;
    font-size: rfs-fluid-value(1.8rem);

    &::before,
    &::after {
      position: absolute;
      width: 1rem;
      height: 1rem;
      background-color: var(--body-bg);
      content: '';
      left: calc(100% - .1rem);
      border-radius: 50%;
      z-index: 15;
    }
    &::before {
      bottom: calc(50% + .15rem);
    }
    &::after {
      top: calc(50% + .15rem);
    }
  }

  .tll-header {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 13rem;
    gap: 10px;
    margin-top: .75rem;
  }

  .tll-label {
    position: relative;
    padding: .35rem .75rem;
    border-radius: 10000rem;
    color: #FFF;
    background-color: var(--tll-color);
    font-weight: 700;
    text-transform: uppercase;

    &::before,
    &::after {
      position: absolute;
      content: '';
      background-color: var(--tll-color);
    }

    &::before {
      top: 50%;
      right: calc(100% - .5rem);
      width: 1.5rem;
      height: 1rem;
      background-color: var(--tll-color);
      transform: translateY(-50%);
      z-index: 13;
    }

    &::after {
      top: 100%;
      left: 50%;
      width: 1rem;
      height: 10px;
      transform: translateX(-50%);
    }
  }

  .tll-period {
    position: relative;
    border: 5px solid var(--tll-color);
    border-radius: 10000rem;
    text-align: center;

    &::before,
    &::after {
      position: absolute;
      width: 10px;
      height: 10px;
      background-color: var(--body-bg);
      content: '';
      bottom: calc(100% + 4.5px);
      border-radius: 50%;
      z-index: 15;
    }
    &::before {
      left: calc(50% + .1rem);
    }
    &::after {
      right: calc(50% + .1rem);
    }
  }

  .tll-start + .tll-end::before {
    display: inline-block;
    content: '-';
    margin: 0 .5rem;
  }

  .tll-info {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 15rem;
    gap: 10px;
    margin-top: .75rem;

    details {
      position: relative;
      border: 3px solid var(--tll-color);
      border-radius: 1rem;
      padding: .5rem .5rem 0;

      summary {
        position: relative;
        margin: calc(-.5rem - 2px) calc(-.5rem - 2px) 0;
        padding: .35rem .75rem;
        background-color: var(--tll-color);
        color: #FFF;
        border-radius: 1rem;

        &::before,
        &::after {
          position: absolute;
          width: 1rem;
          height: 1rem;
          background-color: var(--body-bg);
          content: '';
          top: 50%;
          right: calc(100% - .1rem);
          border-radius: 50%;
          z-index: 15;
        }
        &::before {
          transform: translateY(calc(-50% - .65rem));
        }
        &::after {
          transform: translateY(calc(-50% + .65rem));
        }
      }

      &[open] {
        padding-bottom: .5rem;

        summary {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }
      }
    }

    dl {
      dt {
        margin: 0;
        padding: .35rem .75rem;
        background-color: var(--tll-color);
        color: #FFF;
        border-radius: 1rem 1rem 0 0;
      }
      dd {
        margin: 0;
        padding: .35rem .75rem;
        border: 3px solid var(--tll-color);
        border-radius: 0 0 1rem 1rem;
      }
    }

    &::before {
      position: absolute;
      content: '';
      right: calc(100% - 3px);
      top: 1rem;
      width: 1.1rem;
      height: 1rem;
      background-color: var(--tll-color);
      transform: translateY(-50%);
    }
  }
}
